*{
  margin: 0;
}
body{
  background-color:rgb(164, 202, 199);
  color:white;
}
.App{
  display:flex;
  justify-content: space-evenly;
  padding:20px;

}
.app__header {
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
  margin-bottom: 10px;
}
.app__stats {
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  max-width: 100%;
  
}

.left__container{
  flex:0.9;
  
}
.display__header{
  display:flex;
  align-items:center;
  justify-content:center;
  margin-bottom:20px;
  font-size: 20px;
  color:black;
  height:40px;
  width:auto;
  background:white;
  border-bottom-left-radius: 10px;
  border-top-right-radius:10px;
  border-left: solid rgb(189, 16, 16) 4px;
  border-right: solid rgb(189, 16, 16) 4px;
}
@media (max-width: 700px){
  .App{
    flex-direction: column;
  }
}