
.table > tr:nth-child(odd){
    background-color:#f3f2f8;
}
.table{
    margin-top: 10px;
    height:50vh;
    overflow-y: scroll;
    margin-bottom:10px;
    color:grey;
    background-color:white;
}
.table tr {
    display:flex;
    justify-content:space-between;
}
.table td {
    padding: 0.5rem;
    border:none;
}